
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 600 PIXELS */

@media only screen and (max-width: 600px) {
	.col { margin: 1% 0 1% 0%; padding:1%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
  
    section {
    height: 100%;
    background-color: skyblue;
    border: 1%;
    padding: 1%;
    text-align: left;
    color:snow;
  
}
}

/*   SECTION will create NEW ROWS */

.winterpic {
  position: fixed;
  background-image: 
}

section {
  height: 100%;
  background-color: darkblue;
  border: 1.5%;
  padding: 5%;
  text-align: center;
  color:snow;
}

@media only screen and (min-width: 1200px) {
  section {opacity:.5;}
}

section:hover {
  opacity:1;
}

/* PAGE SPECIFIC STYLING */

html {
    background: url(\images\winter.jpg) no-repeat center fixed; 
    background-size: cover;
}

.scarfcat {
  width: 50px;
}

body, html {
    height: 100%;
}

/*.parallax {
    /* The image used */
    background-image: url("images/winter.jpg");

    /* Full height */
    height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}*/

.title {
  font-size: 3em;
  background-color: aqua;
}

nav {
  background-color: aqua;
}

nav ul{
  display: inline-block;
  color:crimson;
  font-size: 2em;
}

li {
  padding: 5px;
  display:inline-block;
}

a {
    font-family: 'Oswald', sans-serif;
}

body {
  font-size: 100%;
  padding: .5%
}

h1 {
  font-size: 2.75em;
  font-family: 'Oswald', sans-serif;
  padding; 5px
}

h2 {
  font-size 2.75em;
  font-family: 'Oswald', sans-serif;
  padding: 5px
}

h3 {
  font-size 1.2em;
  font-family: 'Oswald', sans-serif;
  padding: 5px;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
  padding: 5px;
}

img {
  max-width: 100%;
  height: auto;
  padding: 5px;
}
