* {
  box-sizing: border-box;
}

section {
  height: 25em;
  overflow: hidden;
    background-color: salmon;
  border: 1.5%;
  padding: 5%;
  text-align: center;
}

.stack-3 {
  width: 33.33%;
  float:left;
  padding:5px;
}

.stack-title {
  width: 70%;
  float:left;
  padding:5px;
}

.stack-menu {
  width: 30%;
  float:left;
  padding:5px;
}

.stack-filter {
  width: 25%;
  float:left;
  padding:5px;
}

.row::after {
  content: "";
  clear:both;
  display:table;
}


header {
  clear:both;
  display:inline;
}

li {
  padding: 5px;
  display:inline;
}

nav ul{
/*  display: flex;
  flex-direction: row;*/
  font-family: fantasy;
  color:crimson;
  font-size: 150%;
}

.nav {
  background-color: aqua;
}

.item {
  flex-direction: row;
}

.hidden {
  display:none;
}

.item-container {
  background-color: salmon;
  padding: 5%;
}

.item-name {
  color: antiquewhite;
}


body {
  font-family:fantasy;
  font-size: 100%;
  padding: 2.5%
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size 1.4em;
}

h3 {
  font-size 1.2em;
}

.js-item-image {
  width: 30%;
}

.item-price {
  font-family: sans-serif;
}

img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1020px) {
  [class*="stack-"] {
  width:50%;    
  }
  section {
  height: 15em;
  overflow: hidden;
  background-color: salmon;
  border: 1.5%;
  padding: 5%;
  text-align: center;
}
}

@media only screen and (max-width: 500px) {
  [class*="stack-"] {
  width:100%;    
  }
  section {
  height: 15em;
  overflow: hidden;
  background-color: salmon;
  border: 1.5%;
  padding: 5%;
  text-align: center;
}
}